USE [master]
GO
/****** Object:  Database [bkmusic]    Script Date: 26/12/2018 14:47:17 ******/
CREATE DATABASE [bkmusic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bkmusic', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\bkmusic.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'bkmusic_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\bkmusic_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bkmusic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bkmusic]
GO
/****** Object:  Table [dbo].[BaiHat]    Script Date: 26/12/2018 14:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaiHat](
	[MaBaiHat] [int] IDENTITY(1,1) NOT NULL,
	[TenBaiHat] [nvarchar](100) NOT NULL,
	[MaKhuVuc] [int] NOT NULL,
	[MaCaSi] [int] NULL,
	[LoiBaiHat] [ntext] NULL,
	[NgayDang] [date] NOT NULL,
	[HinhAnh] [ntext] NULL,
	[BaiHat] [nchar](10) NULL,
 CONSTRAINT [PK__BaiHat__3F65E08E6167E840] PRIMARY KEY CLUSTERED 
(
	[MaBaiHat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CaSi]    Script Date: 26/12/2018 14:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaSi](
	[MaCaSi] [int] IDENTITY(1,1) NOT NULL,
	[TenCaSi] [nvarchar](100) NOT NULL,
	[GioiTinh] [nvarchar](10) NOT NULL,
	[NgaySinh] [date] NULL,
	[MoTa] [ntext] NULL,
	[HinhAnh] [ntext] NULL,
 CONSTRAINT [PK__CaSi__20E4285152BD4013] PRIMARY KEY CLUSTERED 
(
	[MaCaSi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhuVuc]    Script Date: 26/12/2018 14:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuVuc](
	[MaKhuVuc] [int] IDENTITY(1,1) NOT NULL,
	[TenKhuVuc] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_KhuVuc] PRIMARY KEY CLUSTERED 
(
	[MaKhuVuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 26/12/2018 14:47:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Matkhau] [varchar](100) NOT NULL,
	[TenHienThi] [nvarchar](100) NOT NULL,
	[DiaChi] [ntext] NULL,
	[MoTa] [ntext] NULL,
	[HinhAnh] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[BaiHat] ADD  CONSTRAINT [DF__BaiHat__MaCaSi__1A14E395]  DEFAULT ((0)) FOR [MaCaSi]
GO
ALTER TABLE [dbo].[BaiHat] ADD  CONSTRAINT [DF__BaiHat__NgayDang__1BFD2C07]  DEFAULT (getdate()) FOR [NgayDang]
GO
ALTER TABLE [dbo].[CaSi] ADD  CONSTRAINT [DF_CaSi_GioiTinh]  DEFAULT (N'Nam') FOR [GioiTinh]
GO
ALTER TABLE [dbo].[CaSi] ADD  CONSTRAINT [DF__CaSi__MoTa__108B795B]  DEFAULT ('') FOR [MoTa]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('') FOR [DiaChi]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('') FOR [MoTa]
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD  CONSTRAINT [FK__BaiHat__MaCaSi__1DE57479] FOREIGN KEY([MaCaSi])
REFERENCES [dbo].[CaSi] ([MaCaSi])
GO
ALTER TABLE [dbo].[BaiHat] CHECK CONSTRAINT [FK__BaiHat__MaCaSi__1DE57479]
GO
ALTER TABLE [dbo].[BaiHat]  WITH CHECK ADD  CONSTRAINT [FK_BaiHat_MaKhuVuc] FOREIGN KEY([MaKhuVuc])
REFERENCES [dbo].[KhuVuc] ([MaKhuVuc])
GO
ALTER TABLE [dbo].[BaiHat] CHECK CONSTRAINT [FK_BaiHat_MaKhuVuc]
GO
USE [master]
GO
